@import url('http://fonts.googleapis.com/css2?family=Poppins: wght@200;300;400;500;600;700;800;900&display=swap');

html,body {
  font-family: 'Open Sans', serif;
  font-size: px;
  font-weight: 300;
  min-height: 100vh;
  background: #150019;
}


.tamanho{
  width: auto;
  
  
}

h2{
  font-family: 'Ribeye', cursive;
  color:white;
  margin-left: 15px;
}



.navigation{
  position: fixed;
  width: 60px;
  height: 100%;
  background: #3e0748;
  transition: 0.5s;

}

.navigation:hover{
  width: 300px;
}
